<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="data-source-target" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"> <!-- name == setter메소드 (객체주입용) -->
			<value>oracle.jdbc.OracleDriver</value>
		</property>
		<property name="url">
			<value>jdbc:oracle:thin:<!-- @ip주소:포트번호:SID --></value>
		</property>
		<property name="username"><!-- public void setUserName(){} -->
			<value><!-- USER ID --></value>
		</property>
		<property name="password">
			<value><!-- PASS WORD --></value>
		</property>
	</bean>
<!-- ====================================================================== -->
<!-- TRANSACTION CONFIGURATION -->
<!-- ====================================================================== -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="data-source-target"/>
	</bean>
<!-- ====================================================================== -->
<!-- myBatis Layer config -->
<!-- ====================================================================== -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="WEB-INF/mybatis-config.xml"/>
		<property name="dataSource" ref="data-source-target"/>
	</bean>
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"/>
	</bean>
	<!-- DAO계층은 mvc패턴에 속하지 않기 때문에 따로 빈생성을 해줘야한다. -->
<!-- ====================================================================== -->
<!-- DAO Bean Create -->
<!-- ====================================================================== -->
</beans>
